* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nameOut {
  width: 405px;
  height: 80px;
  background-color: #00275e;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  display: flex;
  align-items: center;
}

.firstImg {
  margin-right: 8px;
  margin-left: 20px;
  height: 60;
  width: 60;
  background-color: white;
  border-radius: 50px;
}

.name-input {
  margin-left: 12px;
  text-align: center;
  font-size: large;
  border: none;
  background-color: white;
  border-radius: 21px;
  width: 210px;
  height: 40px;
  margin-right: 30px;
}

.priceTag {
  color: white;
  padding-left: 5px;
  margin: 0;
  font-size: 35px;
}

.mainCard {
  width: 405px;
  height: fit-content;
  border-radius: 13px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: azure;
  box-shadow: 3px 3px rgb(237, 234, 234);
}
.slot {
  display: flex;
}
.purchase-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 220px;
}
.price-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}
.purchase-tag {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 19px;
}
.price-tag {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.purchase-input {
  text-align: center;
  outline: auto;
  border: none;
  background-color: white;
  height: 30px;
  width: 120px;
  border-radius: 20px;
}
.price-input {
  text-align: center;
  outline: auto;
  border: none;
  background-color: white;
  height: 30px;
  width: 120px;
  border-radius: 20px;
}
.minus-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.button-slot {
  width: 90px;
  height: 70px;
  display: flex;
  align-items: center;
}
.add-button-slot {
  display: flex;
  align-items: center;
  width: 405px;
  height: 45px;
  margin-top: 15px;
}
.add-button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 35px;
  width: 100px;
  border: none;
  outline: none;
  background-color: rgb(89, 198, 89);
  border-radius: 20px;
  margin-left: 150px;
}

.container {
  padding-top: 10px;
  margin-left: 200px;
  width: fit-content;
  height: fit-content;
}
.stack {
  display: flex;
  margin-top: 60px;
}

.calculate--btn {
  height: 80px;
  width: 230px;
  margin-left: 340px;
  margin-top: 100px;
  background-color: rgb(38, 201, 38);
  border-radius: 50px;
  border: none;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 3px 3px rgb(237, 234, 234);
}
.person--list {
  margin-left: 290px;
  margin-top: 30px;
  background-color: azure;
  width: fit-content;
  border-radius: 20px;
}
.item-list {
  padding: 10px;
  font-size: x-large;
}
.top {
  height: 110px;
  background-color: #00275e;
  display: flex;
  align-items: center;
}
.billImg {
  height: 140px;
  margin-top: 48px;
  margin-left: 470px;
}

.total-fig {
  margin-top: 0px;
  margin-left: 8px;
  padding-bottom: 5px;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navImg {
  height: 40px;
  margin-left: 30px;
}
.homeMain {
  border-radius: 20px;
  background-color: #00275e;
  width: 280px;
  height: 400px;
  margin-top: 150px;
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px rgb(211, 210, 210);
}
.pmMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.minusHome {
  display: block;
  height: 50px;
  margin-top: 0;
  width: 50px;
  margin-left: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(215, 212, 211);
  font-size: xx-large;
}
.addHome {
  display: block;
  height: 50px;
  width: 50px;
  margin-top: 3px;
  margin-right: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(215, 212, 211);
  font-size: xx-large;
}
.outerMain {
  background-color: #00275e;
  display: flex;
  height: 1000px;
  justify-content: space-between;
}
.rightSide {
  width: 600px;
  height: 800px;
  background-color: #00275e;
  background-image: url("C:\Users\garvi\reactfirst\src\assets\overlay.png");
  background-repeat: no-repeat;
}
.homeLogo {
  margin-top: 30px;
  margin-left: 190px;
  height: 160px;
}
.paraOne {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-top: 40px;
  font-size: x-large;
  height: 300px;
  width: 650px;
}
.formHead {
  margin-top: 8px;
  margin-left: 40px;
  width: 220px;
  font-family: Arial, Helvetica, sans-serif;
}

.numDiv {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
}
.nTotal {
  font-size: xx-large;
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 42px;
}

.calcBtn {
  font-size: x-large;
  margin: 10px;
  margin-left: 100px;
  width: 80px;
  height: 45px;
  border-radius: 0px;
  background-color: rgb(60, 199, 60);
  border: none;
}
.p2Box {
  margin-top: 40px;
  background-color: white;
  height: 70px;
}
.error {
  margin-top: 3px;
}
